* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
/* Styling button  */
.btn-primary {
  height: 64px;
  border-radius: 7px;
  background: #fd6e0a;
  color: white;
  font-size: 12px;
  font-weight: 700;
  border: 0;
  padding: 18px 35px;
}
/* Styling the nav   */
nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin: 20px;
}
/* Styling the nav title  */
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
/* Styling the text-primary*/

.text-primary {
  color: #fd6e0a;
}

/* Banner styling   */
.banner {
  display: flex;
  align-items: center;
  margin: 0px 200px;
}

.banner-title {
  font-weight: 700;
  font-size: 55px;
}

.banner-sub-title {
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 20px;
}
.banner-description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}
/* Styling header  */
.header {
  background-color: #fff8f3;
  background-image: url(/image/header_bg.png), url(/image/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
/* Styling the about me section  */
.aboutme {
  text-align: center;
  margin-top: 130px;
  background: #fff8f3;
  border-radius: 10px;
  padding: 130px 110px;
}
.section-title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 35px;
}
.section-description {
  color: #757575;
  font-size: 20px;
  margin-bottom: 30px;
}
/* Main section  */
main {
  max-width: 1140px;
  margin: 0 auto;
}
