* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
/* Styling button  */
.btn-primary {
  height: 64px;
  border-radius: 7px;
  background: #fd6e0a;
  color: white;
  font-size: 12px;
  font-weight: 700;
  border: 0;
  padding: 18px 35px;
}
/* Styling the nav   */
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 200px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin: 20px;
}
/* Styling the nav title  */
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
/* Styling the text-primary*/

.text-primary {
  color: #fd6e0a;
}

/* Banner styling   */
.banner {
  display: flex;
  align-items: center;
  margin: 0px 200px;
}

.banner-title {
  font-weight: 700;
  font-size: 55px;
}

.banner-sub-title {
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 20px;
}
.banner-description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}
/* Styling header  */
.header {
  background-color: #fff8f3;
  background-image: url(/image/header_bg.png), url(/image/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
/* Styling the about me section  */
.aboutme {
  text-align: center;

  background: #fff8f3;
  border-radius: 10px;
  padding: 130px 110px;
}
.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 35px;
}
.section-description {
  color: #757575;
  font-size: 20px;
  margin-bottom: 30px;
}
/* Main section  */
main {
  max-width: 1140px;
  margin: 0 auto;
}
.about-info-container {
  display: flex;
  justify-content: space-evenly;
}
.aboutme info-title {
  font-size: 20px;
  color: #757575;
}
.info-description {
  font-weight: 700;
  font-size: 20px;
  color: #757575;
}
section {
  margin-top: 130px;
}
.skills-container {
  display: flex;
  gap: 24px;
}
.skill-title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom:30px;
}
.skill-description {
  color: #757575;
}
.skill {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}
/* resume styles  */
.resume-content {
  display: flex;
  gap: 25px;
}
.resume .title{
  font-weight: 700;
  font-size: 26px;
  color: #757575;

}
.resume .sub-title{
  color: #757575;
  font-weight: 600;
  font-size: 21px;
  margin: 20px 0px;
}
.resume .description{
  color: #757575;
}
.resume-item{
  margin:50px 0px;
}
.resume-button{
  margin:50px 0px;
  text-align: center;
}

/* Contact styles */
.contact .section-title{
   text-align:left;
   
}

.contact{
  display: flex;
  gap: 105px;
  background: #FFF8F3;
  padding: 130px 200px;
  
}
.contact input[type="text"], input[type="email"], textarea{
  margin-bottom: 25px;
  border: 0;
  width: 100%;
  padding: 20px 30px;
}
input{
  height:64px;
}
.contact a{
  text-decoration:none;
}