* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
/* Styling button  */
.btn-primary {
  height: 64px;
  border-radius: 7px;
  background: #fd6e0a;
  color: white;
  font-size: 12px;
  font-weight: 700;
  border: 0;
  padding: 18px 35px;
}
/* Styling the nav   */
nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin: 20px;
}
/* Styling the nav title  */
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
/* Styling the text-primary*/

.text-primary {
  color: #fd6e0a;
}

/* Banner styling   */
.banner {
  display: flex;
  align-items: center;
  margin: 0px 200px;
}

.banner-title {
  font-weight: 700;
  font-size: 55px;
}

.banner-sub-title {
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 20px;
}
.banner-description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}
